{% extends 'base.html.twig' %}

{% block title %}Edit FoodDonationItem{% endblock %}

{% block body %}
    <h1>Edit FoodDonationItem</h1>

    {{ include('food_donation_item/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_food_donation_item_index') }}">back to list</a>

    {{ include('food_donation_item/_delete_form.html.twig') }}
{% endblock %}
