{% extends 'base.html.twig' %}

{% block title %}New FoodDonationItem{% endblock %}

{% block body %}
    <h1>Create new FoodDonationItem</h1>

    {{ include('food_donation_item/_form.html.twig') }}

    <a href="{{ path('app_food_donation_item_index') }}">back to list</a>
{% endblock %}
