{% extends 'admin_base.html.twig' %}

{% block title %}Edit Delivery - BIG 4 Admin{% endblock %}

{% block body %}
    <div class="admin-header">
        <h1>Edit Delivery</h1>
        <p style="color: var(--text-2);">Update delivery information</p>
    </div>

    {{ include('delivery/_form.html.twig', {'button_label': 'Update Delivery'}) }}

    <p style="margin-top: 2rem;">
        <a href="{{ path('app_delivery_index') }}" style="color: var(--gold);">← Back to Deliveries</a>
    </p>
{% endblock %}
