{% extends 'base.html.twig' %}

{% block title %}Edit FoodDonationEvent{% endblock %}

{% block body %}
    <h1>Edit FoodDonationEvent</h1>

    {{ include('food_donation_event/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_food_donation_event_index') }}">back to list</a>

    {{ include('food_donation_event/_delete_form.html.twig') }}
{% endblock %}
