{% extends 'admin_base.html.twig' %}

{% block title %}Edit Delivery Man - BIG 4 Admin{% endblock %}

{% block body %}
    <div class="admin-header">
        <h1>Edit Delivery Man</h1>
        <p style="color: var(--text-2);">Update delivery personnel information</p>
    </div>

    {{ include('delivery_man/_form.html.twig', {'button_label': 'Update Delivery Man'}) }}

    <p style="margin-top: 2rem;">
        <a href="{{ path('app_delivery_man_index') }}" style="color: var(--gold);">← Back to Delivery Men</a>
    </p>
{% endblock %}
